<is-size-4>Event details</is-size-4>
<p>
    <strong>Organized By:</strong>
    <%= @event.creator.email %>
</p>
<p>
    <strong>Location:</strong>
    <%= @event.location %>
</p>
<p>
    <strong>Date:</strong>
    <%= @event.date %>
</p>

<%= link_to 'Back', root_path %>